<div class="content-container">
  <h1 class="game-title">Tic Tac Toe</h1>
  <div class="buttons-container">
    <button class="button-new-game" (click)="newGame()">New Game</button>
  </div>
  <div class="cells-container">
    <button
      class="button-cell"
      *ngFor="let info of viewCells"
      [attr.data-row]="info.row"
      [attr.data-column]="info.column"
      [class.empty]="info.cell === 0"
    >
      <img src="{{ info.src }}" alt="{{ info.alt }}" width="150" height="150" />
    </button>
  </div>
</div>
